<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Acctwell PayRoll Services</h3>
                <p>OFFICE HOURS:</p>
                <p>Monday - Friday</p>
                <p>9:00 AM - 6:00 PM</p>
            </div>
            <div class="col-md-4 offset-md-4">
                <p>9229 Queens Blvd,</p>
                <p>Suite CC</p>
                <p>Rego Park, NY 11374</p>
                <br>
                <p>Phone: (718) 897-1111</p>
                <p>Fax: (718) 830-0022</p>
            </div>
        </div>
        <div class="copyright">
            <p>&#169; 2017 Acctwell Incorporated</p>
        </div>
    </div>
</footer>
